@{
    ViewData["Title"] = "Change Password";
    Layout = "_Layout";
}
@model ElasticFind.Repository.ViewModels.ChangePasswordViewModel

<h2 class="mb-4">Change Password</h2>

<div class="display-text mb-2">Enter a new password to update your Account Credentials</div>

<form method="post" asp-controller="Profile" asp-action="ChangePassword" style="max-width: 500px; width: 100%;">
    <input type="hidden" value="@TempData["Email"]" asp-for="Email">

    <div class="float-group mb-3">
        <div class="form-floating d-flex align-items-center input-icon-wrapper">
            <input type="password" class="form-control" id="currentPassword" placeholder="Password"
                asp-for="CurrentPassword">
            <label for="currentPassword">Current Password</label>
            <i class="eye-icon fas fa-eye pointer" id="toggleCurrentPassword"></i>
        </div>
        <span class="text-danger ms-2 mt-1" asp-validation-for="CurrentPassword"></span>
    </div>

    <div class="float-group mb-3">
        <div class="form-floating d-flex align-items-center input-icon-wrapper">
            <input type="password" class="form-control" id="newPassword" placeholder="New Password"
                asp-for="NewPassword">
            <label for="currentPassword">New Password</label>
            <i class="eye-icon fas fa-eye pointer" id="toggleNewPassword"></i>
        </div>
        <span class="text-danger ms-2 mt-1" asp-validation-for="NewPassword"></span>
    </div>

    <div class="float-group mb-3">
        <div class="form-floating d-flex align-items-center input-icon-wrapper">
            <input type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm New Password"
                asp-for="ConfirmNewPassword">
            <label for="confirmNewPassword">Confirm Password</label>
            <i class="eye-icon fas fa-eye pointer" id="toggleConfirmNewPassword"></i>
        </div>
        <span class="text-danger ms-2 mt-1" asp-validation-for="ConfirmNewPassword"></span>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <button type="reset" class="btn btn-outline-primary">Cancel</button>
    </div>
</form>

<script>
    // Toggle password visibility on click of eye icon
    $("#toggleCurrentPassword").click(function () {
        var password = $("#currentPassword");
        password.attr('type') === 'password' ? password.attr('type', 'text') : password.attr('type', 'password');
        $(this).toggleClass("fa-eye fa-eye-slash");
    });

    $("#toggleNewPassword").click(function () {
        var password = $("#newPassword");
        password.attr('type') === 'password' ? password.attr('type', 'text') : password.attr('type', 'password');
        $(this).toggleClass("fa-eye fa-eye-slash");
    });
    $("#toggleConfirmNewPassword").click(function () {
        var password = $("#confirmNewPassword");
        password.attr('type') === 'password' ? password.attr('type', 'text') : password.attr('type', 'password');
        $(this).toggleClass("fa-eye fa-eye-slash");
    });
</script>