@{
    ViewData["Title"] = "User Dashboard";
}

<h2 class="mb-4">Search for keywords</h2>

<p>Search into your files, retreive insights quickly!</p>

<div class="card p-4">
    <p>Search results here</p>
</div>
