@{
    Layout = null;
}
@model ElasticFind.Repository.ViewModels.RegisterViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElasticFind - Register</title>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@9.0.0/css/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/login.css">
</head>

<body>
    <section class="vh-100" style="background-color: #305796;">
        <div class="container py-5 vh-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="~/images/elasticsearch-illustration.png" alt="elastic search illustration"
                                    class="img-fluid h-100" style="object-fit: cover; border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form id="loginForm" method="post" asp-controller="Authentication" asp-action="Register">
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fas fa-cubes fa-2x me-3" style="color: #4983e2;"></i>
                                            <span class="h1 fw-bold mb-0">ElasticFind</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register here</h5>

                                        <div class="d-flex flex-column mb-2">
                                            <div class="form-floating d-flex align-items-center">
                                                <input asp-for="FirstName" type="text" class="form-control w-100"
                                                    id="firstName" placeholder="First Name">
                                                <label for="firstName">First Name</label>
                                            </div>
                                            <span class="ms-2 mt-1 text-danger" asp-validation-for="FirstName"></span>
                                        </div>

                                        <div class="d-flex flex-column mb-2">
                                            <div class="form-floating d-flex align-items-center">
                                                <input asp-for="LastName" type="text" class="form-control w-100"
                                                    id="lastName" placeholder="Last Name">
                                                <label for="lastName">Last Name</label>
                                            </div>
                                            <span class="ms-2 mt-1 text-danger" asp-validation-for="LastName"></span>
                                        </div>

                                        <div class="d-flex flex-column mb-2">
                                            <div class="form-floating d-flex align-items-center">
                                                <input asp-for="Email" type="text" class="form-control" id="email"
                                                    placeholder="Email">
                                                <label for="email">Email</label>
                                            </div>
                                            <span class="text-danger ms-2 mt-1" id="emailError"
                                                asp-validation-for="Email"></span>
                                        </div>

                                        <div class="d-flex flex-column mb-2">
                                            <div class="form-floating d-flex align-items-center input-icon-wrapper">
                                                <input asp-for="Password" type="password" class="form-control"
                                                    id="password" placeholder="Password">
                                                <label for="password">Password</label>
                                                <i class="eye-icon fas fa-eye pointer" id="togglePassword"></i>
                                            </div>
                                            <span class="text-danger ms-2 mt-1" id="passwordError"
                                                asp-validation-for="Password"></span>
                                        </div>

                                        <div class="d-flex flex-column mb-2">
                                            <div class="form-floating d-flex align-items-center">
                                                <input asp-for="Username" type="text" class="form-control w-100"
                                                    id="username" placeholder="Username">
                                                <label for="username">Username</label>
                                            </div>
                                            <span class="ms-2 mt-1 text-danger" asp-validation-for="Username"></span>
                                        </div>

                                        <div class="d-flex flex-column mb-2">
                                            <div class="form-floating d-flex align-items-center">
                                                <input asp-for="Phone" type="number" class="form-control w-100"
                                                    id="phoneNumber" placeholder="Phone Number">
                                                <label for="phoneNumber">Phone Number</label>
                                            </div>
                                            <span class="ms-2 mt-1 text-danger" asp-validation-for="Phone"></span>
                                        </div>

                                        <div class="pt-1 mb-3">
                                            <button type="submit" class="btn btn-primary w-100"
                                                id="loginbtn">Register</button>
                                        </div>

                                        <p class="mb-2 pb-lg-2 text-part">Already have an account? <a
                                                style="color: #393f81;" class="pointer"
                                                onclick="window.location.href='@Url.Action("Login", "Authentication")'">Login
                                                here</a></p>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        // Toggle password visibility
        $("#togglePassword").click(function () {
            var password = $("#password");
            password.attr('type') === 'password' ? password.attr('type', 'text') : password.attr('type', 'password');
            $(this).toggleClass("fa-eye fa-eye-slash");
        });

        var successMessage = "@TempData["SuccessMessage"]";
        var errorMessage = "@TempData["ErrorMessage"]";
        if (successMessage) {
            toastr.success(successMessage, "Success", {
                timeOut: 4000,
                closeButton: true,
                progressBar: true
            });
        }
        if (errorMessage) {
            toastr.error(errorMessage, "Error", {
                timeOut: 4000,
                closeButton: true,
                progressBar: true
            });
        }
    </script>


</body>

</html>