@{
    ViewData["Title"] = "Search";
}

<div class="d-flex mb-3">
    <div class="form-group me-3">
        <label for="txtjobTitle">Job Title</label>
        <input type="email" class="form-control" id="txtjobTitle" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="txtnationalIDNumber">National ID Number</label>
        <input type="password" class="form-control" id="txtnationalIDNumber" placeholder="Password">
    </div>
</div>

<div class="d-flex align-items-center mb-3">
    <div class="buttons me-3">
        <button type="button" class="btn btn-primary me-2" id="btnsubmit">Search</button>
        <button type="button" class="btn btn-outline-secondary">Clear</button>
    </div>
    <div class="time-div">
        Time Taken - <span class="total-title">0 milliseconds</span>
    </div>
</div>

<div class="card">
    <div class="card-header">Output</div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div id="gridContainer"></div>
            </div>
        </div>
    </div>
</div>  

<!-- Upload File to ingest-attachement pipeline -->

<form id="uploadForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file" name="file" id="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Upload</button>
</form>

<script>
    $(document).ready(function () {

        $("#btnsubmit").on("click", function () {

            if ($("#txtjobTitle").val() === "" && $("#txtnationalIDNumber").val() === "") {
                alert("Provide Details to Search !");
            }
            else {

                keyword = $.trim($("#txtjobTitle").val());
                nationalIDNumber = $.trim($("#txtnationalIDNumber").val());

                var apiUrl = "@Url.Action("DataSearch", "Home")";

                $.ajax({
                    url: apiUrl,
                    type: "POST",
                    data: { keyword: keyword, nationalIDNumber: nationalIDNumber },
                    crossDomain: true,
                    success: function (data) {
                        console.log("Data: ", data);

                        @* if (data.datasend.length <= 0) {
                            alert("No Data Found!!");
                        } else { *@

                            @* var timetook = data.took;
                            $('span.total-title').text(timetook + " milliseconds"); *@

                            $("#gridContainer").dxDataGrid({
                                @* dataSource: data.datasend, *@
                                dataSource: data,
                                showColumnLines: false,
                                showRowLines: true,
                                rowAlternationEnabled: true,
                                showBorders: true,
                                paging: {
                                    pageSize: 50
                                },
                                height: 400,
                                scrolling: {
                                    mode: "infinite" // or "virtual" | "infinite"
                                },
                                pager: {
                                    showPageSizeSelector: false,
                                    allowedPageSizes: [5, 10, 20],
                                    showInfo: true
                                },
                                columns: [
                                    {
                                        caption: "JobTitle",
                                        fixed: true,
                                        dataField: "jobtitle"
                                    },
                                    {
                                        caption: "NationalIDNumber",
                                        fixed: true,
                                        dataField: "nationalidnumber"
                                    },
                                    @* "MaritalStatus",
                                    "Gender",
                                    "SalariedFlag",
                                    "VacationHours",
                                    "SickLeaveHours",
                                    "CurrentFlag" *@
                                ]
                            });
                        @* } *@
                    },
                    error: function (xhr, err) {
                        alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                        alert("responseText: " + xhr.responseText);
                    }
                });
            }
        });

    });

    $(document).ready(function () {
        $('#uploadForm').submit(function (e) {
            e.preventDefault();

            var formData = new FormData();
            var fileInput = $('#file')[0];

            if (fileInput.files.length === 0) {
                alert("Please select a file.");
                return;
            }

            formData.append("file", fileInput.files[0]);

            $.ajax({
                url: '@Url.Action("UploadDocument", "Home")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert("File uploaded successfully!");
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    alert("Upload failed.");
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>